canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

header,
.card,
footer {
    position: relative;
    z-index: 1;
}

.sub {
    font-size: 1.3rem;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f1e14, #1b3a24);
    color: #f5f5f5;
    text-align: center;
    height: 100vh;
}

header {
    padding: 70px 20px;
}

h1 {
    font-size: 3.2rem;
    color: #d4af37;
    /* dourado */
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.version {
    opacity: 0.7;
    font-size: 1.3rem;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    margin: 40px auto;
    padding: 40px;
    border-radius: 16px;
    width: 85%;
    max-width: 700px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(212, 175, 55, 0.3);
}

h2 {
    color: #d4af37;
}

.buttons a {
    display: inline-block;
    margin: 12px;
    padding: 14px 26px;
    background: #d4af37;
    color: #0f1e14;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.buttons a:hover {
    background: #b8962e;
    transform: scale(1.05);
}

.animal-img {
    margin-top: 30px;
    max-width: 450px;
    width: 95%;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

footer {
    margin-top: 80px;
    padding: 20px;
    font-size: 0.9rem;
    opacity: 0.6;
}